<link rel="stylesheet" href="assets/fonts/fontawesome.css" type="text/css" />
<style>
    .carousel-indicators {
        display: none !important;
    }
    
    .carousel-control {
        display: none !important;
    }
</style>
<div class="featured container">
    <div class="row">
        <div class="col-md-12">
            <carousel>
                <slide>
                    <img src="assets/images/nature/1.jpg" alt="second slide" style="display: block; width: 100%;">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>First slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </slide>
                <slide>
                    <img src="assets/images/nature/2.jpg" alt="second slide" style="display: block; width: 100%;">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </slide>
                <slide>
                    <img src="assets/images/nature/3.jpg" alt="third slide" style="display: block; width: 100%;">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </slide>
            </carousel>

        </div>
    </div>
    <div id="page-content" class="index-page container">
        <h1>SERVICES</h1>
        <div class="parent_div_content">
            <div id="main-content">
                <div class="col-md-4">
                    <div class="box row">
                        <div class="box-header header-natural">
                            <img src="assets\images\homepage.jpg" alt="homepage" />
                            <h2>SPECIALITIES</h2>
                            <p>CNC is one of the leading private clinic in Hassan in treating Neuro Psychiatric disorders along with necessary therapies for over three decades.</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box row">
                        <div class="box-header header-natural">
                            <img src="assets\images\homepage.jpg" alt="homepage" />
                            <h2>LAB</h2>
                            <p>Lab services at CNC include Blood Investigation, Electroencephalography, Electrocardiography and Bio feedback.</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box row">
                        <div class="box-header header-natural">
                            <img src="assets\images\homepage.jpg" alt="homepage" />
                            <h2>ECT</h2>
                            <p>At CNC ECT is offered for necessary cases to provide improvements in severe symptoms of several mental health conditions.</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<router-outlet></router-outlet>