<link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="assets/fonts/fontawesome.css" type="text/css" />
<footer>
    <div class="wrap-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-footer footer-1">
                    <div class="content">
                        <p>We are shaped by our thoughts; we become what we think. When the mind is pure, joy follows like a shadow that never leaves”…. so to understand “MIND” we can say briefly that each person has three important functions of it.</p>

                    </div>
                </div>
                <div class="col-md-8 col-footer footer-2">
                    <div class="footer-heading">
                        <h4>LINKS</h4>
                    </div>
                    <a href="#">News</a> <a href="#">testmonilas</a> <a href="#">Maps</a> <a href="#">News</a> <a href="#">Testmonilas</a> <a href="#">Maps</a> <a href="#">Contact</a> <a href="#">supports</a> <a href="#">ECT</a><a href="#">LAB</a><a herf="#">Internship</a>
                    <a href="#">pharmavy</a>

                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <p><span>Copyright 2019 @ Vinod Avala<span class="text-center pull-right cus-view"> Views :: 01</span> </span>
        </p>
    </div>
</footer>