footer {
    background-color: #202020;
    margin-top: 20px;
    color: #ddd;
    padding: 20px 0 10px;
}
footer .wrap-footer {
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
}
footer .footer-1 input[type="text"] {
    border: 2px solid #E7E7E7;
    outline: medium none;
    color: #999999;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.2;
    margin: 10px 0;
    padding: 5px 10px 0;
    width: 100%;
    background-color: transparent;
    border: 2px solid #444444;
}
footer .footer-1 input[type="text"] {
    border: 2px solid #E7E7E7;
    outline: medium none;
    color: #999999;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.2;
    margin: 10px 0;
    padding: 5px 10px 0;
    width: 100%;
    background-color: transparent;
    border: 2px solid #444444;
}
.btn-3 {
    background-color: #444444;
    color: #FADA1A;
    font-weight: bold;
}
footer .footer-heading h4 {
    color: #fff;
    font-size: 20px;
}
footer .footer-2 a {
    color: #999;
    border: 1px solid #999;
    padding: 1px 10px;
    line-height: 2.2;
    font-size: 14px;
    text-transform: capitalize;
}
footer .copy-right {
    text-align: center;
    padding-top: 20px;
}
.m-r-20
{
    margin-right: 20px;
}
.cus-view
{
    font-size: 13px;
    margin-right: 5px;
}
footer .footer-2 a:hover {
    color: #7DC314;
    text-decoration: none;
}