<link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="assets/fonts/fontawesome.css" type="text/css" />
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 logo_class">
                <a href="index">
                    <img src="assets\images\logo.png" class="hidden-xs hidden-sm ss-logo" alt="Logo">
                </a>

            </div>
            <div class="col-md-8">
                <a href="#" class="d-none" target="_blank"><img src="" id="title_img" alt="Supe"></a>
                <a href="#" target="_blank"><img src="assets\images\header.jpg" alt="header" class="top_add"></a>

            </div>

        </div>
    </div>
    <!--Top-->
    <!--Navigation-->
    <nav id="menu" class="navbar container">
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#"> Home </a>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">TEAM</a>
                    <div class="dropdown-menu">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#"></a>Lab</li>


                            </ul>

                        </div>
                    </div>
                </li>
                <li>
                    <a href="#"> ABOUT US</a>
                </li>
                <li>
                    <a href="#"> SERVICES</a>
                </li>
                <li>
                    <a href="#"> EVENTS</a>
                </li>
                <li>
                    <a href="#"> TESTIMONIALS</a>
                </li>
            </ul>
            <ul class="list-inline navbar-right top-social">
                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </nav>
</header>