.header-top-left img{
    width: 140px;
}
.banner-content h1{
    font-size: 40px;
}
.banner-area .primary-btn{
	width: 100%;
}
.banner-area .primary-btn b{
	color: #fff;
}
.header-btn:hover{
	background-color: #67bc00; 
}
.header-btn{
	background: transparent;
	border: 1px solid #67bc00;
}
.banner-content ul li{
	float: left;
	margin-right: 20px;
}
.banner-content ul{
	width: 55%;
	margin: 0 auto;
}
.single-service img{
	height: 180px;
}
.team-area.section-gap,
.feature-area.section-gap{
	background: #f1f1f1;
}
.testomial-area.section-gap
{
	background: #fff;
}
.footer-area.section-gap{
	background: #000;
}
.nav-menu a{
	color: #000;
	font-weight: 700;
	font-size: 14px;
}
.nav-menu>li{
	margin-left: 20px;
}
.nav-menu li a:hover{
	color: #fff;
}
.open-hour-wrap h1{
	margin-bottom: 30px;
}
.banner-area{
	background: url(../img/banner3.jpg) center;
	height: 720px;
}
.main-menu .menu-social-icons a{
	color: #fff !important;
}
.main-menu .menu-social-icons a:hover{
	color: #000 !important;
}
.header-top .header-top-right a:first-child{
	margin-right: -24px;
}