.header-top-left img{
    width: 140px;
}
.banner-content h1{
    font-size: 40px;
}
/* .banner-area .primary-btn{
	width: 100%;
} */
.banner-area .primary-btn b{
	color: #fff;
}
.header-btn:hover{
	background-color: #67bc00; 
}
.header-btn{
	background: transparent;
	border: 1px solid #67bc00;
}
.banner-content ul li{
	float: left;
	margin-right: 20px;
}
.banner-content ul{
	width: 55%;
	margin: 0 auto;
}
.single-service img{
	height: 180px;
}
.team-area.section-gap,
.feature-area.section-gap{
	background: #f1f1f1;
}
.testomial-area.section-gap
{
	background: #fff;
}
.footer-area.section-gap{
	background: #000;
}
.nav-menu a{
	color: #000;
	font-weight: 700;
	font-size: 14px;
}
.nav-menu>li{
	margin-left: 20px;
}
.nav-menu li a:hover{
	color: #fff;
}
.open-hour-wrap h1{
	margin-bottom: 30px;
}
.banner-area{
	background: url(../img/banner3.jpg) center;
	height: 720px;
}
.banner-content{
	position: relative;
	bottom: 60px;
}
.main-menu .menu-social-icons a{
	color: #fff !important;
}
.main-menu .menu-social-icons a:hover{
	color: #000 !important;
}
.header-top .header-top-right a:first-child{
	margin-right: -24px;
}
.mobile{
	display: none;
}
.menu-active a{
	color: #fff;
}
/* About us page starts */
.about-us .banner-area{
	height: 412px;
}
.about-content{
	padding: 106px 0;
}
.about-us .section-gap{
	padding: 54px 0;
}
.about-us .service-area.section-gap h4{
	margin-bottom: 20px;
}
.about-us .about-sec{
	margin-bottom: 15px;
}
.about-us .about-sec ul li{
	list-style-type: disc;
	margin-left: 20px;
}
/* mindset */
.threeset ul.main-set{
	margin: 0 auto;
}
.threeset ul.main-set li{
	float: left;
    width: 33%;
    font-size: 16px;
    font-weight: 700;
    color: #67bc00;
    margin: 15px auto;
}
/* doctors */
.nagesh img{
	width: 100%;
}
.pb-40{
	padding-bottom: 10px;
}
ul.doc-active li.menu-active a{
	color: #67bc00;
}
.book-appoint{
	color: #fff;
	background: #67bc00;
	font-weight: 700;
	margin-top: 20px;
}
.book-appoint:hover{
	color: #000;
	background: #fff;
	border: 1px solid #67bc00;
}
.books{
	margin-top: 30px;
	font-size: 22px;
	font-weight: 700;
}
@media(min-width:320px) and (max-width:767px) {
	iframe{
		width: 385px !important;
	}
	.banner-content{
		bottom: 0;
	}
	.header-top .header-top-right a:first-child{
		margin-right: 0;
	}
	.header-top .header-top-right a:first-child{
		padding: 9px 12px;
	}
	.mobile{
		display: block;
	}
	.desktop{
		display: none;
	}
	.header-top-left img{
		width: 52px;
	}
	#mobile-nav-toggle{
		top: 30px;
	}
	.banner-area .banner-content ul li:nth-child(2) .primary-btn{
		padding: 0 43px;
	}
	.banner-area .banner-content ul li:nth-child(3) .primary-btn{
		padding: 0 38px;
	}
	.pb-40{
		padding-bottom: 12px;
	}
	.only-mobile{
		flex-direction: column-reverse;
	}
	.only-mobile p{
		margin-top: 20px;
	}
	
}