<div class="container">
    <ngb-tabset>
        <ngb-tab title="my app 1">
            <template ngbTabContent>
          <p>Hello World</p>
        </template>
        </ngb-tab>
        <ngb-tab>
            <template ngbTabTitle><b>Hello</b></template>
            <template ngbTabContent>
          <p>Hello World2</p>
        </template>
        </ngb-tab>
        <ngb-tab title="my app 3" [disabled]="true">
            <template ngbTabContent>
          <p>Hello World</p>
        </template>
        </ngb-tab>
    </ngb-tabset>
</div>